<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="views/css/stock/input_history.css" />
    <script
      type="text/javascript"
      src="views/js/stock/input_history.js"
      defer
    ></script>
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- 기기에 맞는 사용조절 (브라우저 너비를 장치 너비로 맞추어 표시)-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar close">
      <div class="logo-details">
        <i class="bx bxs-package"></i>
        <span class="logo_name">WMS</span>
      </div>

      <ul class="nav-links">
        <li>
          <a href="#">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">홈</span>
          </a>
          <ul class="sub-menu blank">
            <!-- 사이드바 닫혀있을 때 목록 없을 때 옆에 이름 설정 -->
            <li><a class="link_name" href="#">홈</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bxs-city"></i>
              <span class="link_name">창고</span>
            </a>
            <!-- 사이드바 목록 화살표 -->
            <i class="bx bxs-chevron-down arrow"></i>
          </div>

          <!-- 사이드바 서브 메뉴설정 -->
          <ul class="sub-menu">
            <li><a class="link_name" href="#"></a></li>
            <li><a href="#">창고생성</a></li>
            <li><a href="#">창고</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-package"></i>
              <span class="link_name">입고</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">입고</a></li>
            <li><a href="#">입고현황</a></li>
            <li><a href="#">입고내역</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-archive-out"></i>
              <span class="link_name">출고</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">출고</a></li>
            <li><a href="#">출고현황</a></li>
            <li><a href="#">출고내역</a></li>
          </ul>
        </li>

        <li>
          <a href="#">
            <i class="bx bx-box"></i>
            <span class="link_name">재고</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">재고현황</a></li>
            <li><a class="link_name" href="#">재고</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-bell"></i>
              <span class="link_name">알림</span>
            </a>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">알림</a></li>
          </ul>
        </li>

        <li>
          <a href="#">
            <i class="bx bxs-user"></i>
            <span class="link_name">사용자</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">사용자</a></li>
          </ul>
        </li>

        <li>
          <div class="profile-details">
            <div class="profile-content">
              <img src="image/abc1.png" alt="profileImg" />
            </div>
            <div class="name-job">
              <div class="profile_name">작업자</div>
              <div class="job">김정우</div>
            </div>
            <i class="bx bx-log-out"></i>
          </div>
        </li>
      </ul>
    </div>

    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">내용</span>
      </div>
    </section>

    <script src="views/js/stock/input_history.js"></script>
  </body>
</html>
