<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="views/css/main.css" />
    <script type="text/javascript" src="../js/main.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <h1 id="test">테스트</h1>
    <a href="http://localhost:3002/three/sj/05_warehouse.html">3D창고로 이동</a
    ><br />
    <a href="http://localhost:3002/input">input에서 데이터 받아오기 실험</a
    ><br />
    <a href="http://localhost:3002/output">output에서 데이터 보내기 실험</a>
  </body>
</html>
