<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js" defer></script>
        <!-- === Iconscout CSS === -->
        <link
        rel="stylesheet"
        href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
      />
      <!-- ==== CSS ==== -->
      <link rel="stylesheet" href="views/css/user/login.css" />
      <!-- <script type="text/javascript" src="../../js/user/login.js" defer></script> -->
  
      <title>Login & Registeration Form</title>
</head>
<body>
    <div class="yucontainer">
        <div class="yuforms">
          <div class="yuform login">
            <span class="yutitle">Login</span>
  
            <form action="#">
              <div class="yuinput-field">
                <input
                  type="text"
                  placeholder="사업자 번호를 입력해주세요"
                  required
                />
                <i class="yuuil uil-building"></i>
              </div>
              <div class="yuinput-field">
                <input type="text" placeholder="아이디를 입력해주세요" required />
                <i class="yuuil uil-user icon"></i>
              </div>
              <div class="yuinput-field">
                <input
                  type="password"
                  class="password"
                  placeholder="비밀번호를 입력해주세요"
                  required
                />
                <i class="uil uil-lock icon"></i>
              </div>
              <div class="yuinput-field button">
                <input type="button" value="Login Now" />
              </div>
            </form>
            <div class="yulogin-signup">
              <span class="yutext"
                >Not a member?
                <a href="./register_com.html" class="text signup-link"
                  >Signup now</a
                >
              </span>
            </div>
          </div>
      <script src="../../js/user/login.js"></script>
</body>
</html>