<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- === Iconscout CSS === -->
        <link
        rel="stylesheet"
        href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
        />
      <!-- ==== CSS ==== -->
      <link rel="stylesheet" href="views/css/user/login.css" />
      <script type="text/javascript" src="views/js/user/login.js" defer></script>
      <title>Login</title>
</head>
<body>
    <div class="yucontainer">
        <div class="yuforms">
          <div class="yuform login">
            <span class="yutitle">Login</span>
            <!-- method : 정보를 어떤 형태로 전달할건지 지정 -->
            <form action="/login" method="POST">
              <div class="yuinput-field">
                <input
                  type="text"
                  name="com_num"
                  placeholder="사업자 번호를 입력해주세요"
                  required
                />
                <i class="yuuil uil-building"></i>
              </div>
              <div class="yuinput-field">
                <input type="text" name="id" placeholder="아이디를 입력해주세요" required />
                <i class="yuuil uil-user icon"></i>
              </div>
              <div class="yuinput-field">
                <input
                  type="password"
                  name="pw"
                  placeholder="비밀번호를 입력해주세요"
                  required
                />
                <i class="uil uil-lock icon"></i>
              </div>

              <div class="yulogin button">
              <button type="submit" class="btn" onClick="checklogin();">Login Now</button>
              </div>
            </form>
            <div class="yulogin-signup">
              <span class="yutext"
                >Not a member?
                <a href="./register_com" class="text signup-link"
                  >Signup now</a
                >
              </span>
            </div>
          </div>
</body>
</html>